# use admin
# db.auth("{{ hostvars[inventory_hostname]['db_cluster_admin_username']  }}", "{{ hostvars[inventory_hostname]['db_cluster_admin_password']  }}");
rs.initiate({_id: "{{ replSet }}", members: [{_id: 0, host: "{{ groups['primary_private'][0] }}:27017"}]});
